img {border: none;}

#bodyContent{
	width:1100px;
	margin:auto;
}

.container {
	overflow: hidden;
	idth: 900px;
	width: 910px;
	margin: 0 auto;
	float:left;
}
#main {
	padding: 10px;
	background: url(../../assets/graphics/transparency50.png) ;
	
 	margin-left: 10px;
    	margin-top: 10px;
}

#mainVideo{
	ackground:blue;
	width:320px;
	eight:200px;
	float:left;
    	margin-left: 35px;
margin-top: 10px;
}
a {color: #fff;}

/*--Main Image Preview--*/
.main_image {
	idth: 98px; height: 456px;
	width: 498px; height: 456px;
	width: 498px; height: 316px;
	float: left;
/*	background: #333;*/
	position: relative;
	overflow: hidden;
	color: #fff;
}
.main_image h2 {
	font-size: 1.5em;
	font-weight: normal;
	margin: 0 ;
	padding:5px 0 0 10px;
}
.main_image p {
	font-size: 1.0em;
	padding: 10px;	margin: 0;
	line-height: 1.5em;
}
.block small { 
	padding: 0 0 0 20px; 
	background: url(../../assets/homepage_rotator/icon_calendar.gif) no-repeat 0 center; 
	font-size: 1em; 
}
.main_image .block small {margin-left: 10px;}
.main_image .desc{
	position: absolute;
	bottom: 0;	left: 0;
	width: 100%;
	display: none;
	height:0px;
}
.main_image .block{
	width: 100%;
	background: #111;
	border-top: 1px solid #000;
}
.main_image a.collapse {
	background: url(../../assets/homepage_rotator/btn_collapse.gif) no-repeat left top;
	height: 27px; width: 93px;
	text-indent: -99999px;
	position: absolute; 
	top: -27px; right: 20px; 
}
.main_image a.show {background-position: left bottom;} 


.image_thumb {
	float: left;
	idth: 299px;
	width: 199px;
/*	background: #f0f0f0;*/
/*	border-right: 1px solid #202020;*/
	border-top: 1px solid #202020;
}
.image_thumb img {
	border: 1px solid #202020; 
	padding: 5px; 
	background: #fff; 
	float: left;
}
.image_thumb ul {
	margin: 0; padding: 0;
	list-style: none;
}
.image_thumb ul li{
	margin: 0; 
	padding: 12px 10px;
	/*background: #f0f0f0 url(../../assets/homepage_rotator/nav_a.gif) repeat-x;*/
	width: 279px;
	float: left;
	border-bottom: 1px solid #5c412b;
	border-top: 1px solid #202020;
	border-right: 1px solid #202020;
	list-style:none outside none;
}
.image_thumb ul li.hover {
	background: url(../../assets/graphics/transparency50.png) ;
	cursor: pointer;
}
.image_thumb ul li.active {
	background: #57220b url(../../assets/graphics/menugradient.jpg) ;
	cursor: default;
}
html .image_thumb ul li h2 {
	font-size: 1.0em; 
	margin: 5px 0; padding: 0;
}
.image_thumb ul li .block {
	float: left; 
	margin-left: 10px;
	padding: 0;
	width: 170px;
}	
.image_thumb ul li p{display: none;}
